# ─────────────────────────────────────────────
# Copia este archivo: cp .env.example .env
# El .env NUNCA va al repositorio
# ─────────────────────────────────────────────

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskflow
DB_USER=taskflow_user
DB_PASSWORD=taskflow_pass

# pgAdmin
PGADMIN_EMAIL=admin@taskflow.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# JWT — genera con: openssl rand -base64 64
JWT_SECRET=cambia_esto_por_una_clave_segura
JWT_ACCESS_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS_WEB=604800000

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_SES_FROM_EMAIL=noreply@taskflow.com
AWS_S3_BUCKET=taskflow-uploads

# App
APP_URL=http://localhost:3000
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev