<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Perfil prod — JSON estructurado para CloudWatch -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <!-- Campos que aparecen en cada log -->
                <customFields>{"app":"taskflow","env":"prod"}</customFields>
                <!-- Excluye campos que no necesitas para ahorrar espacio -->
                <excludeMdcKeyName>ignore</excludeMdcKeyName>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <!-- Tu código en DEBUG, el resto en INFO -->
        <logger name="com.taskflow" level="DEBUG"/>
        <logger name="org.flywaydb" level="INFO"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.springframework.security" level="INFO"/>
    </springProfile>

    <!-- Perfil dev — texto plano legible en consola -->
    <springProfile name="dev,test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) — %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.taskflow" level="DEBUG"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
    </springProfile>

</configuration>